<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meat charset='utf-8'>
    <meta http-equiv='x-ua-compatible', content='IE=edge'>
		<meta name='viewport', content='width=device-width, initial-scale=1'>
		<meta name='apple-mobile-web-app-capable', content='yes'>
		<meta name='apple-touch-fullscreen', content='yes'>
		<title> 高性能制图-地图编辑</title>
    <link href="{% static "cssjs/sbadmin2/bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "cssjs/sbadmin2/bower_components/metisMenu/dist/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Social Buttons CSS -->
    <link href="{% static "cssjs/sbadmin2/bower_components/bootstrap-social/bootstrap-social.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "cssjs/sbadmin2/dist/css/sb-admin-2.css" %}" rel="stylesheet">
    <link href="{% static "cssjs/mapedit/leaflet/leaflet.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "cssjs/sbadmin2/bower_components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "cssjs/mapedit/css/user.css" %}" rel='stylesheet'>
    <link href="{% static "cssjs/mapedit/css/codemirror.css" %}" rel='stylesheet'>

    <script src="{% static "cssjs/sbadmin2/bower_components/jquery/dist/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "cssjs/sbadmin2/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "cssjs/sbadmin2/bower_components/metisMenu/dist/metisMenu.min.js" %}"></script>
    <script src="{% static "cssjs/mapedit/libs/codemirror/codemirror.js" %}" > </script>
    <script src="{% static "cssjs/mapedit/libs/codemirror/mode/css.js" %}" ></script>
    <!--<script src="{% static "cssjs/mapedit/libs/angular-1.2.17/angular.min.js" %}" type="text/javascript"> </script>
    <script src="{% static "cssjs/mapedit/libs/angular-1.2.17/angular-resource.min.js" %}" type="text/javascript"> </script>
    <script src="{% static "cssjs/mapedit/libs/angular-1.2.17/angular-route.min.js" %}" type="text/javascript"> </script>-->
    <script src="{% static "cssjs/mapedit/leaflet/leaflet.js" %}"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="glyphicon glyphicon-chevron-left  navbar-brand" href="/main/">返回首页</a>
  </div>
</nav>
<div id="map" calss="map"></div>
<div id="sidemenu" class="leftsidebar">
  <a id="layer" class="btn btn-primary btn-circle btn-lg" style="bottom:0px;"><i class="fa fa-list"></i>
  </a>
</div>
<div isopen="closed" id="layerpenl" class="layerpenl">
     <li class="list-group-item active">图层
         <a  class="badge"><i href="#" class="glyphicon glyphicon-plus"></i></a>
     </li>
  <ul id="layergroup" class="list-group">
  </ul>
</div>
<div id="sidebar" class="sidebar">
  <form role="form" method="POST" enctype="multipart/form-data">
    <ul id="myTab" class="nav nav-tabs">
       <li class="active"><a href="#mapeditor" data-toggle="tab">mss</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
       <div class="tab-pane fade in active" id="mapeditor">
         <div  class="alert alert-success">
             log:{{log}}<a style="position:absolute;right:10px" href="#" class="alert-link">更多信息</a>.
         </div>
        <div class="form-group editor "><textarea id="mssStyle" name="mssStyle" >{{mssStyle}}</textarea></div>
       </div>
    </div>
    <div style="position:absolute;right:0px;bottom:0px;height:60px;width:100%;">
      <button id="subMss" type="submit" class="glyphicon glyphicon-ok btn btn-primary " style="z-index:999;position:absolute;right:25px;top:5px"></button>
    </div>
  </form>
</div>
<script src="{% static "cssjs/mapedit/js/csseditor.js" %}" type="text/javascript"> </script>
<script>
  map = L.map("map").setView([31.13,104.40], 10);
  m_layer = L.tileLayer('http://localhost:{{port}}/{{layername}}/{z}/{x}/{y}.png');
  var layerpanel = function(){
    if($('#layerpenl').attr('isopen')=='closed')
    {
      $('#layerpenl').show("slide");
      $('#layerpenl').attr('isopen','opened');
    }
    else {
      $('#layerpenl').hide("slide");
      $('#layerpenl').attr('isopen','closed');
    }
    $.ajax({
      url: "/getLayers/",
      data:{},
      type: "POST",
      dataType:'json',
      success:function(data){successCallBack(data);},
      error:function(er){alert("fail")}
    });
  };
  var successCallBack = function(data){
    $('#layergroup').empty();
    for(var layer in data)
    {
      var text = '<li class="list-group-item">'+data[layer]+'<a  class="badge"><i href="#" class="glyphicon glyphicon-remove"></i></a></li>'
      $('#layergroup').append(text);
    }
    $('.glyphicon.glyphicon-remove').click(function(){
      var ln = $(this).parent().parent().text();
      ln = ln.replace(/\s/g,"");
      $(this).parent().parent().remove();
      $.ajax({
        url: "/deletelayer/"+ln+"/",
        data:{},
        type: "POST",
        dataType:'json',
        success:function(data){
          window.location.reload();
          // map.removeLayer(m_layer);
          // window.location = window.location.href;
        },
        error:function(er){alert("fail")}
      });
    });
  };
  $(document).ready(function() {
     m_layer.addTo(map);
    $('#layer').click(function(){layerpanel();});
  });
</script>
</body>
</html>
